<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="../static/js/index.js"> </script>


    <title>아티스트 랭킹</title>

    <script>
      $(document).ready(function () {
        fetch("/ranking")
          .then((res) => res.json())
          .then((data) => {
            data.forEach((artist) => {
              let name = artist["name"];
              let rank = artist["rank"];
              let fan = artist["fan"];
              let image_url = artist["image_url"];
              let average_point = artist["average_point"];

              $("#artists-ranking").append(`<tr>
                    <td><img src=${image_url}></td>
                    <th scope="row">${rank}</th>
                    <td class="namebox" >${name}</td>
                    <td>${fan}</td>
                    <td>${average_point}</td>
                    </tr>`);
            });
          });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid d-flex justify-content-end">
        <a class="navbar-brand" href="#">로그인/회원가입</a>
      </div>
    </nav>
    <div class="container">
      <header>
        <h1>아티스트 랭킹 Top 50</h1>
      </header>
      <div class="wrapper">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">사진</th>
              <th scope="col">순위</th>
              <th scope="col">이름</th>
              <th scope="col">팬 수</th>
              <th scope="col">평점</th>
            </tr>
          </thead>
          <tbody id="artists-ranking">
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
