<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지 입니다.</title>

	<script src="../static/js/login.js"> </script>
    <link rel="stylesheet" href="../static/css/login.css">


</head>

<body>

    <p class="tip">Artist</p>
    <div class="cont">
        <div class="form sign-in">
            <h2>환영합니다</h2>
            <label>
                <span>ID</span>
                <input type="email" />
            </label>
            <label>
                <span>Password</span>
                <input type="password" />
            </label>
            <button type="button" class="submit">로그인</button>
            <button type="button" class="fb-btn">Connect with <span>Social</span></button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>처음이신가요?</h2>
                    <p>당신의 아티스트를 위한 기록을 남겨보세요!</p>
                </div>
                <div class="img__text m--in">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">회원가입</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Time to feel like home,</h2>
                <label>
                    <span>Name</span>
                    <input type="text" />
                </label>
                <label>
                    <span>ID</span>
                    <input type="email" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" />
                </label>
                <button type="button" class="submit">회원가입</button>
                <button type="button" class="fb-btn">Join with <span>facebook</span></button>
            </div>
        </div>
    </div>

 
</body>

</html>